{% extends 'clusters/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sample</th>
                    <th scope="col">Cluster name</th>
                    <th scope="col">Selected cluster</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Alignment on reference</th>
                    <th scope="col">Homopolymer-compressed reference</th>
                    <th scope="col">Alignment on homopolymer-compressed reference</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{contig.sample.name}}</td>
                    <td>{{contig.name}}</td>
                    <td>{{selected_cluster}}</td>
                    <td><a href="{% static files.uncompressed.FASTA_FN %}"><i class="fas fa-download"></i> Download .fasta file</a></td>
                    <td><a href="{% static files.uncompressed.BAM_CLUSTERS_FN %}"><i class="fas fa-download"></i> Download .bam file</a><br>
                        <a href="{% static files.BAI_CLUSTERS_FN %}"><i class="fas fa-download"></i> Download .bai file</a></td>
                    <td><a href="{% static files.uncompressed.FASTA_FN %}"><i class="fas fa-download"></i> Download .fasta file</a></td>
                    <td><a href="{% static files.compressed.BAM_CLUSTERS_FN %}"><i class="fas fa-download"></i> Download .bam file</a><br>
                        <a href="{% static files.compressed.BAI_CLUSTERS_FN %}"><i class="fas fa-download"></i> Download .bai file</a></td>
                </tr>
            </tbody>
        </table>

    </div>

    {% if ranges %}

    <div class="container-fluid">
        <div class="btn-group" role="group">
            {% for range in ranges %}
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn {% if range|first <= number and number <= range|last %}btn-primary{% else %}btn-outline-primary{% endif %} dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                        {{ range|first}}-{{ range|last}}


                    </button>
                    <div class="dropdown-menu">
                        {% for i in range %}
                            <a class="dropdown-item page-item"  href="{% url 'contig' p_id=contig.id p_number=i %}">{{i}}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="container-fluid" style="margin-top: 10px">

        <div class="btn-group" role="group">

            {% for i in current_ranges %}
                <a class="btn btn {% if i == number %}btn-primary{% else %}btn-outline-primary{% endif %}" href="{% url 'contig' p_id=contig.id p_number=i %}">{{i}}</a>
            {% endfor %}

        </div>
    </div>

    <div class="container-fluid">

        <ul class="nav nav-tabs" id="main_content_tab" role="tablist">

            {% if contig.get_browser %}

                {% for type in files %}

                    <li class="nav-item">
                        <a class='nav-link {% if type == "uncompressed" %}active{% endif %}' id="browser-{{type}}-tab" data-toggle="tab" href="#browser-{{type}}" role="tab" aria-controls="browser-{{type}}" aria-selected="true">Browser {% if type == "compressed" %}homopolymer compressed{% endif %}</a>
                    </li>

                {% endfor %}

            {% endif %}

            {% if contig.get_igv_screenshot %}
                <li class="nav-item">
                    <a class="nav-link" id="screenshot-tab" data-toggle="tab" href="#screenshot" role="tab" aria-controls="screenshot" aria-selected="false">IGV screenshot</a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" id="clusters-tab" data-toggle="tab" href="#clusters" role="tab" aria-controls="clusters" aria-selected="false">Clusters</a>
            </li>

            {% if contig.mappings.all %}
                <li class="nav-item">
                    <a class="nav-link" id="mapping-tab" data-toggle="tab" href="#mapping" role="tab" aria-controls="mapping" aria-selected="false">Mappings</a>
                </li>
            {% endif %}

        </ul>

        <div class="tab-content">

            {% if contig.get_browser %}

                {% for type in files %}

                    <div class="tab-pane active" id="browser-{{type}}" role="tabpanel" aria-labelledby="browser-{{type}}-tab">

                        <div id="igv-viewer-{{type}}">
                        </div>

                    </div>

                {% endfor %}

            {% endif %}

            {% if contig.get_igv_screenshot %}
                <div class="tab-pane" id="screenshot" role="tabpanel" aria-labelledby="screenshot-tab">

                    <div class="container-margin">
                        <img class="img-fluid" src="{% static files.IGV_VIEW_FN %}">
                    </div>

                </div>
            {% endif %}

            <div class="tab-pane" id="clusters" role="tabpanel" aria-labelledby="clusters-tab">

                <div class="container-margin">
                    <table class="table table-clusters">
                        <thead>
                            <tr>
                                <th scope="col">Cluster</th>
                                <th scope="col">Read name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for read in reads %}
                                <tr>
                                    <td class="text-center">{{read.cluster_number}}</td>
                                    <td >{{read.name}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {% if contig.get_browser %}

    <script>




    function load_igv_browser(type) {

        var igvDiv = document.getElementById("browser-" + type);

        var files = ;

        var options =  {

            reference: {
                fastaURL: "{% static files.FASTA_FN %}"
            },

            tracks: [
                {
                    name: "Clusters",
                    url: "{% static files.BAM_CLUSTERS_FN %}",
                    indexURL: "{% static files.BAI_CLUSTERS_FN %}",
                    format: "bam",
                    type: "alignment",
                    colorBy: "tag",
                    colorByTag: "YC",
                    bamColorTag: "YC",
                    alignmentRowHeight: 8,
                    autoHeight: true,
                    deletionColor: "rgb(150, 150, 150)",
                    insertionColor: "rgba(170, 170, 170, 0.2)",
                    coverageColor: "rgb(220, 220, 220)",

                    sort: {
                        chr: "{{ files.CONTIG_NAME }}",
                        position: 1000,
                        option: "TAG",
                        tag: "HP"
                    }
                }
            ]

        }

        igv.createBrowser(igvDiv, options).then(function (browser) {
            console.log("Created IGV browser");
        })

    }


    </script>

    {% endif %}

{% endblock %}
