{% extends 'clusters/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sample</th>
                    <th scope="col">Cluster name</th>
                    <th scope="col">Selected cluster</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Alignment on reference</th>
                    <th scope="col">Homopolymer-compressed reference</th>
                    <th scope="col">Alignment on homopolymer-compressed reference</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{contig.sample.name}}</td>
                    <td>{{contig.name}}</td>
                    <td>{{selected_cluster}}</td>
                    <td><a href="{% static files.uncompressed.FASTA_FN %}"><i class="fas fa-download"></i> Download .fasta file</a><br>
                        <a href="{% static files.uncompressed.FAI_FN %}"><i class="fas fa-download"></i> Download .fasta.fai file</a></td>
                    <td><a href="{% static files.uncompressed.BAM_CLUSTERS_FN %}"><i class="fas fa-download"></i> Download .bam file</a><br>
                        <a href="{% static files.uncompressed.BAI_CLUSTERS_FN %}"><i class="fas fa-download"></i> Download bam.bai file</a></td>
                    <td><a href="{% static files.compressed.FASTA_FN %}"><i class="fas fa-download"></i> Download .fasta file</a><br>
                        <a href="{% static files.compressed.FAI_FN %}"><i class="fas fa-download"></i> Download .fasta.fai file</a></td>
                    <td><a href="{% static files.compressed.BAM_CLUSTERS_FN %}"><i class="fas fa-download"></i> Download .bam file</a><br>
                        <a href="{% static files.compressed.BAI_CLUSTERS_FN %}"><i class="fas fa-download"></i> Download bam.bai file</a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="container-fluid" style="margin-bottom: 10px">
        <div class="btn-group" role="group">
            {% for view_mode in view_modes %}
                <a class="btn btn {% if type == view_mode.type %}btn-primary{% else %}btn-outline-primary{% endif %}" href="{% url 'contig' p_id=contig.id p_number=0 p_type=view_mode.type %}">{{ view_mode.name }}</a>
            {% endfor %}
        </div>
    </div>

    {% if ranges %}

    <div class="container-fluid">
        <div class="btn-group" role="group">
            {% for range in ranges %}
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn {% if range|first <= number and number <= range|last %}btn-primary{% else %}btn-outline-primary{% endif %} dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                        {{ range|first}}-{{ range|last}}


                    </button>
                    <div class="dropdown-menu">
                        {% for i in range %}
                            <a class="dropdown-item page-item"  href="{% url 'contig' p_id=contig.id p_number=i p_type=type%}">{{i}}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <div class="container-fluid" style="margin: 10px 0">

        <div class="btn-group" role="group">

            {% for i in current_ranges %}
                <a class="btn btn {% if i == number %}btn-primary{% else %}btn-outline-primary{% endif %}" href="{% url 'contig' p_id=contig.id p_number=i p_type=type%}">{{i}}</a>
            {% endfor %}

        </div>
    </div>

    {% if status == 0 %}
        <div class="container-fluid">

            <ul class="nav nav-tabs" id="main_content_tab" role="tablist">

                {% if contig.get_browser %}

                    <li class="nav-item">
                        <a class='nav-link active' id="browser-tab" data-toggle="tab" href="#browser" role="tab" aria-controls="browser" aria-selected="true">Browser</a>
                    </li>

                {% endif %}

                {% if contig.get_igv_screenshot %}
                    <li class="nav-item">
                        <a class="nav-link" id="screenshot-tab" data-toggle="tab" href="#screenshot" role="tab" aria-controls="screenshot" aria-selected="false">IGV screenshot</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" id="clusters-tab" data-toggle="tab" href="#clusters" role="tab" aria-controls="clusters" aria-selected="false">Clusters</a>
                </li>

                {% if contig.mappings.all %}
                    <li class="nav-item">
                        <a class="nav-link" id="mapping-tab" data-toggle="tab" href="#mapping" role="tab" aria-controls="mapping" aria-selected="false">Mappings</a>
                    </li>
                {% endif %}

            </ul>

            <div class="tab-content">

                {% if contig.get_browser %}

                    <div class='tab-pane active' id="browser" role="tabpanel" aria-labelledby="browser-tab">

                        {% if type == 'B' or type == 'C' %}
                        <div>
                            <div id="igv-viewer-compressed" >
                            </div>
                        </div>
                        {% endif %}

                        {% if type == 'B' or type == 'U' %}
                        <div>
                            <div id="igv-viewer-uncompressed">
                            </div>
                        </div>
                        {% endif %}

                    </div>

                {% endif %}

                {% if contig.get_igv_screenshot %}
                    <div class="tab-pane" id="screenshot" role="tabpanel" aria-labelledby="screenshot-tab">

                        <div class="container-margin">
                            <img class="img-fluid" src="{% static files.IGV_VIEW_FN %}">
                        </div>

                    </div>
                {% endif %}

                <div class="tab-pane" id="clusters" role="tabpanel" aria-labelledby="clusters-tab">

                    <div class="container-margin">
                        <table class="table table-clusters">
                            <thead>
                                <tr>
                                    <th scope="col">Cluster</th>
                                    <th scope="col">Read name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for read in reads %}
                                    <tr>
                                        <td class="text-center">{{read.cluster_number}}</td>
                                        <td >{{read.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
         {% else %}
            <div class="container-fluid">
                <div class="alert alert-danger" role="alert">
                    No data for this iteration.
                </div>
            </div>
         {% endif %}

    </div>

{% endblock %}

{% block javascript %}

    {% if contig.get_browser %}

    <script>

    function load_igv_browser(type, fasta_fn, bam_fn, bai_fn) {

        var igvDiv = document.getElementById("igv-viewer-" + type);

        if (igvDiv !== null) {

            var options =  {

                reference: {
                    fastaURL: fasta_fn
                },

                tracks: [
                    {
                        name: "Clusters",
                        url: bam_fn,
                        indexURL: bai_fn,
                        format: "bam",
                        type: "alignment",
                        colorBy: "tag",
                        colorByTag: "YC",
                        bamColorTag: "YC",
                        alignmentRowHeight: 8,
                        autoHeight: true,
                        deletionColor: "rgb(150, 150, 150)",
                        insertionColor: "rgba(170, 170, 170, 0.2)",
                        coverageColor: "rgb(220, 220, 220)",

                        sort: {
                            chr: "{{ contig_name }}",
                            position: 5000,
                            option: "TAG",
                            tag: "HP"
                        }
                    }
                ]

            };

            igv.createBrowser(igvDiv, options).then(function (browser) {
                console.log("Created IGV browser");
            });

        }

    }

    load_igv_browser("compressed", "{% static files.compressed.FASTA_FN %}", "{% static files.compressed.BAM_CLUSTERS_FN %}",  "{% static files.compressed.BAI_CLUSTERS_FN %}");
    load_igv_browser("uncompressed", "{% static files.uncompressed.FASTA_FN %}", "{% static files.uncompressed.BAM_CLUSTERS_FN %}",  "{% static files.uncompressed.BAI_CLUSTERS_FN %}");

    </script>

    {% endif %}

{% endblock %}
