{% extends 'clusters/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            Welcome to PhaseDancer visualisation tool!
        </div>
    </div>

</div>

<div class="container-fluid">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Sample</th>
                <th scope="col">Cluster name</th>
                <th scope="col">Iterations</th>
            </tr>
        </thead>
        <tbody>
            {% for contig in  contigs %}
            <tr>
                <th scope="row">
                    <a href="{% url 'contig' p_id=contig.id p_number=0 p_type='C' %}"><i class="fas fa-edit"></i></a>
                </th>
                <td>{{contig.sample.name}}</td>
                <td>{{contig.name}}</td>
                <td>{{contig.get_iterations}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
